* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background-color: black;
}

img {
  margin: 30px;
}

.grid {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.cell {
  background-color: black;
  font-size: 8px;
  color: transparent;
  width: 5.88235%;
  height: 5.88235%;
}

.wall {
  background-color: aqua;
  font-size: 8px;
  color: transparent;
}

.food {
  font-size: 12px;
  color: transparent;
  color: white;
  text-align: center;
  padding-top: 11px;
}

.pacmanRight {
  background-image: url('https://i.gifer.com/XOsf.gif');
  background-size: contain;
}
.pacmanUp {
  background-image: url('https://i.gifer.com/XOsf.gif');
  background-size: contain;
  transform: rotate(270deg);
}
.pacmanDown {
  background-image: url('https://i.gifer.com/XOsf.gif');
  background-size: contain;
  transform: rotate(90deg);
}
.pacmanLeft {
  background-image: url('https://i.gifer.com/XOsf.gif');
  background-size: contain;
  transform: rotate(180deg);
}

.ghost-1 {
  background-image: url('https://i.gifer.com/YMXv.gif');
  background-size: contain;
}

.ghost-2 {
  background-image: url('https://i.gifer.com/5IPe.gif');
  background-size: contain;
}

.coin {
  background-image: url('https://i.gifer.com/ZXv0.gif');
  background-size: contain;
}