* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0
}

.grid {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.cell {
  border: 1px solid grey;
  background-color: black;
  font-size: 8px;
  color: white;
}

.wall {
  background-color: aqua;
  font-size: 8px;
}

.pacmanRight {
  background-image: url('https://i.gifer.com/XOsf.gif');
  background-size: contain;
}
.pacmanUp {
  background-image: url('https://i.gifer.com/XOsf.gif');
  background-size: contain;
  transform: rotate(270deg);
}
.pacmanDown {
  background-image: url('https://i.gifer.com/XOsf.gif');
  background-size: contain;
  transform: rotate(90deg);
}
.pacmanLeft {
  background-image: url('https://i.gifer.com/XOsf.gif');
  background-size: contain;
  transform: rotate(180deg);
}

.ghost-1 {
  background-image: url('https://i.gifer.com/YMXv.gif');
  background-size: contain;
}

.ghost-2 {
  background-image: url('https://i.gifer.com/5IPe.gif');
  background-size: contain;
}
