* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background-color: black;
  touch-action: manipulation;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(white, #2121DE);
  width: 600px;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  touch-action: manipulation;
}

aside {
  display: flex;
  align-self: flex-start;
  margin-left: 35.29px;
}

img {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 510px;
}

.grid {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

h4 {
  color: white;
  margin: 0;
  margin-right: 15px;
  font-family: 'VT323';
  font-size: 20px;
}

h3 {
  color: white;
}

.cell {
  background-color: black;
  font-size: 8px;
  color: transparent;
  width: 5.88235%;
  height: 5.88235%;
}

.wall {
  background-color: #2121DE;
  font-size: 8px;
  color: transparent;
}

.food {
  font-size: 8px;
  color: transparent;
  padding-top: 5px;
  background-image: url('././photos/dot3.jpg');
  background-size: contain;
}

.coin {
  background-image: url('././photos/coin.gif');
  background-size: contain;
  transform: rotate(0deg)
}

.winner {
  background-color: #2121DE;
  animation-name: flash;
  animation-duration: 6s;
}

@keyframes flash {
  0%   {background-color: #2121DE;}
  10%  {background-color: rgb(14, 216, 14);}
  20%  {background-color: #2121DE;}
  30%  {background-color: rgb(14, 216, 14);}
  40%  {background-color: #2121DE;}
  50%  {background-color: rgb(14, 216, 14);}
  60%  {background-color: #2121DE;}
  70%  {background-color: rgb(14, 216, 14);}
  80%  {background-color: #2121DE;}
  90%  {background-color: rgb(14, 216, 14);}
  100% {background-color: #2121DE;}
  
}

.pacmanRight {
  background-image: url('././photos/pacman.gif');
  background-size: contain;
}
.pacmanUp {
  background-image: url('././photos/pacman.gif');
  background-size: contain;
  transform: rotate(270deg);
}
.pacmanDown {
  background-image: url('././photos/pacman.gif');
  background-size: contain;
  transform: rotate(90deg);
}
.pacmanLeft {
  background-image: url('././photos/pacman.gif');
  background-size: contain;
  transform: rotate(180deg);
}

.ghost-1 {
  background-image: url("././photos/pinky.png");
  background-size: contain;
  transform: rotate(0deg)
}

.ghost-2 {
  background-image: url("././photos/blinky.png");
  background-size: contain;
  transform: rotate(0deg)
}

.ghost-3 {
  background-image: url("././photos/clyde.png");
  background-size: contain;
  transform: rotate(0deg)
}

.ghost-4 {
  background-image: url("././photos/inky.png");
  background-size: contain;
  transform: rotate(0deg)
}

.reset {
  font-size: 25px;
  padding: 5px 15px;
  background-color: red;
  color: white;
  border: none;
  font-family: 'VT323';
  margin-right: 100px;
  margin-bottom: 20px;
}

.up {
  margin-left: 184px;
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  background-color: rgba(242, 241, 239, 1);
}

.down {
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  background-color: rgba(242, 241, 239, 1);
}

.left {
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  background-color: rgba(242, 241, 239, 1);
}

.right {
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  background-color: rgba(242, 241, 239, 1);
}

@media screen and (max-height: 1600px) {
  .grid {
    width: 400px;
    height: 400px;
  }

  header {
    width: 400px;
  }

  img {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 350px;
  }

  h4 {
    font-size: 14px;
  }

  h3 {
    font-size: 14px;
  }

  aside {
    margin-left: 23.52px;
  }
}

@media screen and (max-width: 414px) {
  .grid {
    width: 360px;
    height: 360px;
  }

  header {
    width: 360px;
  }

  img {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 340px;
  }

  h4 {
    color: white;
    margin: 0;
    margin-right: 15px;
    font-family: 'VT323';
    font-size: 15px;
  }

  h3 {
    font-size: 11px;
  }

  aside {
    margin-left: 21.17px;
  }

  .reset {
    font-size: 15px;
  }

  .up {
    margin-top: 7px;
    width: 30px;
    height: 30px;
    margin-bottom: 4px;
    margin-left: 165px;
  }
}